/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: #0ABF7A;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

h1 {
    background-color: #44BF32;
    color: #034029;
    padding: 30px;
    margin: 0 auto 20px;
    width: 50%;
    text-align: center;
    border-radius: 4px;
}
section {
    color: #fff;
    background-color: #034029;
    width: 70%;
    padding: 30px;
    margin: 0 auto 20px;
    border-radius: 4px;
}